@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

/* #menu-navbar {
  display: flex;
  width: 100%;
} */

#menu-navbar button {
  border: none;
  background: #fff;
}

#menu-navbar p {
  padding-bottom: 1rem;
  top: 0;
  margin-bottom: 0;
  color: #333;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  border-bottom: solid 2px rgb(41, 146, 73);
  border-radius: 10px;
}

#menu-navbar img {
  top: 1rem;
  left: 1rem;
  position: absolute;
  z-index: 1;
  height: 5.5vh;
}
